# VPN Configuration (ProtonVPN Free - https://account.protonvpn.com)
VPN_USER=your_protonvpn_openvpn_username
VPN_PASS=your_protonvpn_openvpn_password

# To get ProtonVPN credentials:
# 1. Go to https://account.protonvpn.com
# 2. Login > Downloads > OpenVPN configuration files
# 3. Click "Generate" next to "OpenVPN / IKEv2 username and password"
# 4. Copy the username and password here
